Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

pipelines/function_app_deploy.yaml:
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: AzureLogin
    displayName: Azure login
    steps:
    - template: steps/azure-login.yaml
  - job: BuildAndPackage
    displayName: Build and Package
    dependsOn: AzureLogin
    steps:
    - checkout: self
      displayName: Checkout repo
    - task: UsePythonVersion@0
  ...

pipelines/terraform-ci.yaml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      - checkout: self
        displayName: Checkout Repo
      - template: steps/install-tflint.yaml
      - template: steps/install-checkov.yaml
      - template: steps/azure-login.yaml
  ...

Pg/s51 fix (#1041)
  workspace/notebook/py_raw_to_std.json
  workspace/pipeline/pln_service_bus_nsip_s51_advice.json
Due: none

Feat/odw 1052 create validation notebooks for curated layer tables (#1044)
  workspace/notebook/py_utils_curated_validate_examination_timetable.json
  workspace/notebook/py_utils_curated_validate_functions.json
  workspace/notebook/py_utils_curated_validate_legacy_folder_data.json
  workspace/notebook/py_utils_curated_validate_nsip_document.json
  workspace/notebook/py_utils_curated_validate_nsip_representation.json
  workspace/notebook/py_utils_curated_validate_service_user.json
Due: none

Feat/pipeline for document entities (#1038)
  infrastructure/configuration/data-lake/harmonised_table_definitions/aie_document_data.json
  infrastructure/configuration/data-lake/harmonised_table_definitions/document_meta_data.json
  infrastructure/configuration/data-lake/harmonised_table_definitions/horizon_folder.json
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/AIEDocumentData.json
  workspace/notebook/legacy_folder_data.json
  workspace/pipeline/pln_aie_document_data.json
  workspace/pipeline/pln_document_metadata_clean_slate.json
  workspace/pipeline/pln_document_metadata_main.json
  workspace/pipeline/pln_horizon_document_metadata.json
  workspace/pipeline/pln_horizon_folder_clean_slate.json
  workspace/pipeline/pln_horizon_horizon_folder.json
Due: pipelines/terraform-ci.yaml

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps (#1048)
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Due: none

Mvg/fix/relev rep curated (#1049)
  workspace/notebook/relevant_representation.json
Due: none

Create codeql.yml (#1046)
  .github/workflows/codeql.yml
Due: none

Pd/fix/zendesk dataflow deletion (#1047)
  workspace/dataflow/Zendesk_POC.json
  workspace/linkedService/ls_zendesk.json
  workspace/linkedService/ls_zendesk_2.json
Due: none

Fix/curated validation none values (#1051)
  workspace/notebook/py_utils_curated_validate_examination_timetable.json
  workspace/notebook/py_utils_curated_validate_functions.json
  workspace/notebook/py_utils_curated_validate_legacy_folder_data.json
  workspace/notebook/py_utils_curated_validate_master.json
  workspace/notebook/py_utils_curated_validate_nsip_representation.json
  workspace/notebook/py_utils_curated_validate_nsip_s51_advice.json
  workspace/notebook/py_utils_curated_validate_service_user.json
Due: none

Feature/multi function app (#1052)
  infrastructure/README.md
  infrastructure/environments/dev.tfvars
  infrastructure/locals.tf
  infrastructure/modules/function-app/outputs.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/modules/odt-backoffice-sb/outputs.tf
  infrastructure/modules/odt-backoffice-sb/variables.tf
  infrastructure/modules/synapse-data-lake/README.md
  infrastructure/modules/synapse-data-lake/data-lake-rbac.tf
  infrastructure/modules/synapse-data-lake/variables.tf
  infrastructure/modules/synapse-ingestion/.terraform.lock.hcl
  infrastructure/modules/synapse-ingestion/README.md
  infrastructure/modules/synapse-ingestion/variables.tf
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/alert-function-app.tf
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/modules/synapse-monitoring/variables.tf
  infrastructure/outputs.tf
  infrastructure/variables.tf
  infrastructure/workload-data-lake.tf
  infrastructure/workload-function-app.tf
  infrastructure/workload-monitoring.tf
Due: pipelines/terraform-ci.yaml

Updating pipeline: pln_post_deployment Updating pipeline: pln_nsip_relevant_reps_main
  workspace/pipeline/pln_post_deployment.json
Due: none

Mc/bug fix/relevant reps (#1050)
  workspace/notebook/relevant_representation.json
  workspace/sqlscript/REL REPS TEST SCRIPT.json
Due: none

Updating pipeline: pln_nsip_relevant_reps_main
  workspace/pipeline/pln_nsip_relevant_reps_main.json
Due: none

added WEBSITE_RUN_FROM_PACKAGE flag (#1056)
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

Mvg/fix/clean harmonised (#1054)
  workspace/notebook/casework_case_involvement_dim.json
  workspace/notebook/py_create_tables.json
  workspace/notebook/relevant_representation.json
Due: none

Mc feature pipeline rename (#1057)
  workspace/pipeline/0_Horizon_Appeals_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_Main.json
Due: none

Adding notebook: my_bad_notebook
  workspace/notebook/my_bad_notebook.json
Due: none

Deleting notebook: my_bad_notebook (#1053)
  workspace/notebook/my_bad_notebook.json
Due: none

Updating notebook: casework_case_fact_legacy
  workspace/notebook/casework_case_fact_legacy.json
Due: none

Fix/disable function app (#1058)
  infrastructure/environments/dev.tfvars
  infrastructure/modules/synapse-monitoring/alert-function-app.tf
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updating notebook: document_metadata
  workspace/notebook/document_metadata.json
Due: none

removed some app settings and disabled function apps
  infrastructure/environments/dev.tfvars
  infrastructure/modules/function-app/locals.tf
  pipelines/function_app_deploy.yaml
Due: pipelines/terraform-ci.yaml

re-creating function apps
  infrastructure/environments/dev.tfvars
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

removed build-remote flag
  pipelines/function_app_deploy.yaml
Due: none

adding build-remote flag back in
  pipelines/function_app_deploy.yaml
Due: none

removed setting and pipeline echo command
  infrastructure/modules/function-app/locals.tf
  pipelines/function_app_deploy.yaml
Due: pipelines/terraform-ci.yaml

Enabled app insights for function app
  infrastructure/README.md
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/output.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated app insights
  infrastructure/modules/function-app/main.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated syntax
  infrastructure/modules/function-app/variables.tf
Due: pipelines/terraform-ci.yaml

Updated
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated location
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

fix syntax
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Update syntax
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

Mc fix case fact (#1064)
  workspace/notebook/document_metadata.json
Due: none

amended docstring
  functions/function_app.py
Due: pipelines/function_app_deploy.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md
