Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md

Feat/odw 925 create pydantic model for da rt to validate and process api response from synapse (#933)
  DaRT/dart_sql.sql
  DaRT/function_app.py
  DaRT/model_dart.py
Due: none

created pydantic models for all entities (#935)
  functions/helper/datamodel-code-generator.txt
  functions/helper/datamodel-codegen.sh
  functions/model_case_schedule.py
  functions/model_employee.py
  functions/model_interested_party.py
  functions/model_nsip_document.py
  functions/model_nsip_exam_timetable.py
  functions/model_nsip_exam_timetable_submission.py
  functions/model_nsip_project.py
  functions/model_nsip_project_update.py
  functions/model_nsip_representation.py
  functions/model_nsip_subscription.py
  functions/model_s51_advice.py
  functions/model_service_user.py
Due: pipelines/function_app_deploy.yaml

Updating notebook: py_raw_to_std
  workspace/notebook/py_raw_to_std.json
Due: none

fix: service user dim schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/service_user_dim.json
Due: pipelines/terraform-ci.yaml

Mc feature type of case raw (#940)
  workspace/dataset/Horizon_TypeOfCaseCSV.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/pipeline/0_Horizon_Document_Folder.json
Due: none

Allow Function app permission to Data Lake Storage, Data Receiver access to service bus subscriptions and enable app insights (#938)
  infrastructure/README.md
  infrastructure/modules/function-app/output.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/modules/odt-backoffice-sb/odt-backofifce-private-endpoint.tf
  infrastructure/modules/odt-backoffice-sb/outputs.tf
  infrastructure/modules/synapse-data-lake/README.md
  infrastructure/modules/synapse-data-lake/data-lake-firewall.tf
  infrastructure/modules/synapse-data-lake/data-lake-rbac.tf
  infrastructure/modules/synapse-data-lake/variables.tf
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/modules/synapse-monitoring/variables.tf
  infrastructure/workload-data-lake.tf
  infrastructure/workload-function-app.tf
  infrastructure/workload-monitoring.tf
Due: pipelines/terraform-ci.yaml

Feature mc s51 advice curated (#944)
  workspace/notebook/nsip_s51_advice.json
  workspace/pipeline/pln_nsip_project_main.json
Due: none

Fix/preprod errors service users and nsip (#942)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/NSIP/NSIPProject.json
  workspace/notebook/py_1_raw_to_standardised_hr_functions.json
  workspace/pipeline/pln_nsip_project_main.json
  workspace/pipeline/pln_service_user_main.json
Due: pipelines/terraform-ci.yaml

added import of var_funcs to function itself to correct file path date issue (#946)
  functions/function_app.py
Due: pipelines/function_app_deploy.yaml

Updating pipeline: pln_nsip_project_main
  workspace/pipeline/pln_nsip_project_main.json
Due: none

Fix/pipelines trigger (#943)
  workspace/trigger/tr_daily.json
Due: none

Updating notebook: nsip_data
  workspace/notebook/nsip_data.json
Due: none

Feat/odw 940 change function app code to receive rather than peek for messages (#941)
  functions/tests/config.yaml
  functions/tests/servicebus_funcs.py
  functions/tests/set_environment.py
  functions/tests/test.ipynb
  functions/tests/var_funcs.py
  functions/validation_nsip_project.py
  functions/validation_service_user.py
Due: pipelines/function_app_deploy.yaml

Mc bug fix nsip curated data types and region (#949)
  workspace/notebook/nsip_data.json
Due: none

fix: service_user_dim schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/service_user_dim.json
Due: pipelines/terraform-ci.yaml

Updating notebook: nsip_data (#948)
  workspace/notebook/nsip_data.json
Due: none

Updating notebook: nsip_data (#952)
  workspace/notebook/nsip_data.json
  workspace/notebook/service_user.json
Due: none

Mvg/fix/service user curated (#951)
  workspace/notebook/legacy_service_user_dim.json
  workspace/notebook/service_user.json
  workspace/notebook/service_user_dim.json
Due: none

Mc feature s51 advice source change (#947)
  workspace/dataset/NSIP_Advice.json
  workspace/pipeline/0_Horizon_SQL_Tables_Raw_part2.json
Due: none

Mc bug fix exam timetable (#953)
  workspace/dataset/ExaminationTimeTable.json
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

Feat/odw 941 add abandon message step to function app code if further steps fail (#954)
  functions/archive/function_app_old.py
  functions/archive/validation_nsip_project.py
  functions/archive/validation_service_user.py
  functions/function_app.py
  functions/model_interested_party.py
  functions/model_nsip_document.py
  functions/model_nsip_exam_timetable.py
  functions/model_nsip_exam_timetable_submission.py
  functions/model_nsip_project.py
  functions/model_nsip_project_update.py
  functions/model_nsip_representation.py
  functions/model_nsip_subscription.py
  functions/model_s51_advice.py
  functions/model_service_user.py
  functions/servicebus_funcs.py
  functions/set_environment.py
  functions/tests/servicebus_funcs.py
  functions/tests/set_environment.py
  functions/tests/validate_test.ipynb
  functions/validate.py
  functions/var_funcs.py
Due: pipelines/function_app_deploy.yaml

Mvg/fix/horizon nsip (#956)
  workspace/notebook/nsip_data.json
Due: none

functions added for all entities in the data-model repo (#955)
  functions/config.yaml
  functions/function_app.py
  functions/servicebus_funcs.py
Due: pipelines/function_app_deploy.yaml

Updating notebook: examination_timetable
  workspace/notebook/examination_timetable.json
Due: none

fix: remove unused props from orchestration (#958)
  docs/layers/2_standardised.md
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  workspace/notebook/py_1_raw_to_standardised_scheduling.json
  workspace/notebook/py_create_schema_from_raw.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml

Fix/standardised pipeline (#950)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  workspace/notebook/py_1_copy_source_file_for_schema_creation.json
  workspace/notebook/py_create_schema_from_raw.json
  workspace/notebook/py_generate_schema_script.json
  workspace/notebook/py_raw_to_std.json
  workspace/pipeline/pln_raw_to_standardised_e2e_legacy.json
Due: pipelines/terraform-ci.yaml

refreshed pydantic models based on updated schemas (#957)
  functions/helper/datamodel-codegen.sh
  functions/model_case_schedule.py
  functions/model_employee.py
  functions/model_nsip_document.py
  functions/model_nsip_exam_timetable.py
  functions/model_nsip_project.py
  functions/model_nsip_project_update.py
  functions/model_nsip_representation.py
  functions/model_nsip_subscription.py
  functions/model_s51_advice.py
  functions/model_service_user.py
Due: pipelines/function_app_deploy.yaml

Fix/json to csv no file exception (#960)
  workspace/notebook/py_service_bus_json_to_csv.json
  workspace/pipeline/pln_nsip_exam_timetable.json
  workspace/pipeline/pln_nsip_project_main.json
Due: none

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: none

Updating notebook: examination_timetable (#959)
  workspace/notebook/examination_timetable.json
Due: none

Fix/service user limit in test (#961)
  workspace/notebook/nsip_data.json
  workspace/notebook/service_user.json
Due: none

Updating pipeline: pln_initial_high_court
  workspace/pipeline/pln_initial_high_court.json
Due: none

Updating notebook: py_1_raw_to_standardised_hr_functions
  workspace/notebook/py_1_raw_to_standardised_hr_functions.json
Due: none

Mc bug fix service user case ref curated (#962)
  workspace/notebook/service_user.json
Due: none

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Feat/odw 996 switch function app code to use pydantic models from data model repo (#963)
  functions/config.yaml
  functions/function_app.py
  functions/model_case_schedule.py
  functions/model_employee.py
  functions/model_interested_party.py
  functions/model_nsip_document.py
  functions/model_nsip_exam_timetable.py
  functions/model_nsip_exam_timetable_submission.py
  functions/model_nsip_project.py
  functions/model_nsip_project_update.py
  functions/model_nsip_representation.py
  functions/model_nsip_subscription.py
  functions/model_s51_advice.py
  functions/model_service_user.py
  functions/requirements.txt
Due: pipelines/function_app_deploy.yaml

Fix/odw 998 fix nsip data (#964)
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPData.json
  workspace/notebook/nsip_data.json
  workspace/pipeline/pln_nsip_project_main.json
  workspace/pipeline/pln_post_deployment.json
Due: pipelines/terraform-ci.yaml
