Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

pipelines/function_app_deploy.yaml:
  pool:
    vmImage: ubuntu-latest
  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '3.11'
  - script: '# Install dependencies, build, or any other required commands
  
      cd functions
  
      pip install -r requirements.txt  # Adjust as per your requirements
  
      '
  ...

pipelines/terraform-ci.yaml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      - checkout: self
        displayName: Checkout Repo
      - template: steps/install-tflint.yaml
      - template: steps/install-checkov.yaml
      - template: steps/azure-login.yaml
  ...

Adding notebook: casework_nsip_examination_timetable_dim_b304619c-3a6c-4c40-b394-384a133d8879
  workspace/notebook/casework_nsip_examination_timetable_dim_b304619c-3a6c-4c40-b394-384a133d8879.json
Due: none

Updating notebook: casework_nsip_examination_timetable_dim
  workspace/notebook/casework_nsip_examination_timetable_dim.json
Due: none

Deleting notebook: casework_nsip_examination_timetable_dim_b304619c-3a6c-4c40-b394-384a133d8879
  workspace/notebook/casework_nsip_examination_timetable_dim_b304619c-3a6c-4c40-b394-384a133d8879.json
Due: none

Feat/nsip exam timetable json to csv (#983)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/NSIP/nsip_exam_timetable.json
  workspace/notebook/casework_nsip_examination_timetable_dim.json
  workspace/notebook/py_service_bus_json_to_csv.json
  workspace/pipeline/pln_horizon_nsip_exam_timetable.json
  workspace/pipeline/pln_nsip_exam_timetable.json
  workspace/pipeline/pln_nsip_exam_timetable_main.json
  workspace/pipeline/pln_service_bus_nsip_exam_timetable.json
Due: pipelines/terraform-ci.yaml

switched validation to use jsonschema, amended functions accordingly
  functions/config.yaml
  functions/function_app.py
  functions/requirements.txt
  functions/servicebus_funcs.py
  functions/tests/test.ipynb
  functions/tests/validate_messages.py
  functions/validate.py
  functions/validate_messages.py
  functions/var_funcs.py
Due: pipelines/function_app_deploy.yaml

switched validation to use jsonschema, amended functions accordingly (#985)
  functions/config.yaml
  functions/function_app.py
  functions/requirements.txt
  functions/servicebus_funcs.py
  functions/tests/test.ipynb
  functions/tests/validate_messages.py
  functions/validate.py
  functions/validate_messages.py
  functions/var_funcs.py
Due: pipelines/function_app_deploy.yaml

Adding notebook: document_meta_data
  workspace/notebook/document_meta_data.json
Due: none

Updating notebook: nsip_applicant_service_user
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Updating pipeline: 0_Horizon_Data_Transfer_Raw Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps Updating pipeline: 0_Raw_Horizon_NSIP_Data
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

Updating pipeline: 0_Horizon_Data_Transfer_Raw
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Updating notebook: document_meta_data
  workspace/notebook/document_meta_data.json
Due: none

modifying standardised examination timetable
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/ExaminationTimetable.json
Due: pipelines/terraform-ci.yaml

modifying harmonised examination timetable
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_examination_timetable_dim.json
Due: pipelines/terraform-ci.yaml

Updating notebook: examination_timetable
  workspace/notebook/examination_timetable.json
Due: none

Updating notebook: casework_nsip_examination_timetable_dim_legacy
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
Due: none

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: none

adding CODEOWNERS file to ODW repo
  .github/CODEOWNERS
Due: none

adding CODEOWNERS file to ODW repo (#986)
  .github/CODEOWNERS
Due: none

Mvg/fix/exam timetable (#987)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_examination_timetable_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/ExaminationTimetable.json
  workspace/notebook/casework_nsip_examination_timetable_dim.json
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
  workspace/notebook/examination_timetable.json
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml

Adding notebook: horizon_folder
  workspace/notebook/horizon_folder.json
Due: none

Updating notebook: horizon_folder
  workspace/notebook/horizon_folder.json
Due: none

Updating pipeline: 0_Horizon_Document_Folder
  workspace/pipeline/0_Horizon_Document_Folder.json
Due: none

backing out codeowners
  .github/CODEOWNERS
Due: none

Updating pipeline: 0_Horizon_Document_Folder (#988)
  workspace/pipeline/0_Horizon_Document_Folder.json
Due: none

Adding sqlscript: SQL script 1
  workspace/sqlscript/SQL script 1.json
Due: none

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md
