Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

pipelines/function_app_deploy.yaml:
  pool:
    vmImage: ubuntu-22.04
  jobs:
  - job: AzureLogin
    displayName: Azure login
    steps:
    - template: steps/azure-login.yaml
  - job: BuildAndPackage
    displayName: Build and Package
    dependsOn: AzureLogin
    steps:
    - checkout: self
      displayName: Checkout repo
    - task: UsePythonVersion@0
  ...

pipelines/terraform-ci.yaml:
  pool:
    vmImage: ubuntu-22.04
  stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      - checkout: self
        displayName: Checkout Repo
      - template: steps/install-tflint.yaml
      - template: steps/install-checkov.yaml
      - template: steps/azure-login.yaml
  ...

fix: exam time table schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_examination_timetable_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/ExaminationTimetable.json
Due: pipelines/terraform-ci.yaml

adding CODEOWNERS file to ODW repo (#986)
  .github/CODEOWNERS
Due: none

Updating pipeline: 0_Horizon_Document_Folder (#988)
  workspace/pipeline/0_Horizon_Document_Folder.json
Due: none

Adding sqlscript: SQL script 1
  workspace/sqlscript/SQL script 1.json
Due: none

Updating notebook: nsip_applicant_service_user (#992)
  workspace/notebook/nsip_applicant_service_user.json
  workspace/pipeline/pln_post_deployment.json
Due: none

Updating notebook: casework_nsip_examination_timetable_dim_legacy
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
Due: none

added topic-subscription mapping to config file (#991)
  functions/config.yaml
  functions/function_app.py
Due: pipelines/function_app_deploy.yaml

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps (#990)
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Due: none

backing out codeowners (#989)
  .github/CODEOWNERS
Due: none

Updating notebook: py_utils_get_key_vault_secret
  workspace/notebook/py_utils_get_key_vault_secret.json
Due: none

Mc/fix/document metadata/curated (#994)
  workspace/notebook/document_metadata.json
Due: none

Feat/odw 939 create codeowners file for odw repo (#998)
  .github/CODEOWNERS
Due: none

Feat/nsip exam tt clean pipeline (#995)
  workspace/pipeline/pln_nsip_exam_timetable_clean_slate.json
  workspace/pipeline/pln_post_deployment.json
Due: none

Pg/feat/dmd hf harmonised (#993)
  workspace/notebook/document_meta_data.json
  workspace/notebook/document_metadata.json
  workspace/notebook/horizon_folder.json
  workspace/notebook/py_create_tables_new.json
  workspace/sqlscript/document_meta_data.json
Due: none

added file to add function urls as keyvault secrets (#997)
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
  functions/requirements.txt
Due: pipelines/function_app_deploy.yaml

Pg/feat/aie harm (#1000)
  workspace/notebook/aie_document_data.json
Due: none

fix: nsip_exam_timetable schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_examination_timetable_dim.json
Due: pipelines/terraform-ci.yaml

Mc/feature/document meta data/curated (#1001)
  workspace/notebook/document_metadata.json
Due: none

Fix/exam timetable (#1002)
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Exam_Timetable.json
  workspace/pipeline/pln_horizon_nsip_exam_timetable.json
Due: none

Updating pipeline: pln_trigger_function_app (#999)
  workspace/pipeline/pln_trigger_function_app.json
Due: none

Fix/new fields rel reps (#1005)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPReleventRepresentation.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/py_raw_to_std.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Mvg/feat/relev rep harmonised (#1007)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/nsip_applicant_service_user.json
Due: pipelines/terraform-ci.yaml

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps (#1004)
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Due: none

Updating notebook: nsip_applicant_service_user (#1003)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Fix/service user old references (#1012)
  workspace/notebook/service_user.json
  workspace/pipeline/0_Horizon_Case_Involvement.json
  workspace/pipeline/pln_horizon_case_involvement.json
  workspace/pipeline/pln_service_bus_service_user.json
  workspace/pipeline/pln_service_user_clean_slate.json
  workspace/sqlscript/Horizon_Service_User_Data.json
  workspace/sqlscript/vw_service_user.json
Due: none

Mvg/feat/case involvement dim (#1010)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_case_involvement_dim.json
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  workspace/notebook/casework_case_involvement_dim.json
  workspace/notebook/casework_case_involvement_dim_legacy.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml

Updating notebook: nsip_s51_advice (#1009)
  workspace/notebook/nsip_s51_advice.json
Due: none

fix: service user standardised table (#1011)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
Due: pipelines/terraform-ci.yaml

Fix/s51 advice advice details (#1008)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_advice_dim.json
  workspace/notebook/nsip_s51_advice.json
Due: pipelines/terraform-ci.yaml

Feat/odw 937 cd pipeline func app (#1017)
  functions/validate_messages.py
  pipelines/function_app_deploy.yaml
Due: pipelines/function_app_deploy.yaml

Mc/feature/relevant reps/curated (#1016)
  workspace/notebook/relevant_representation.json
Due: none

Updating pipeline: 0_Horizon_Service_User
  workspace/pipeline/0_Horizon_Service_User.json
Due: none

Updating notebook: nsip_s51_advice
  workspace/notebook/nsip_s51_advice.json
Due: none

Renaming pipeline: 0_Horizon_Case_Involvement as 0_Horizon_Service_User
  workspace/pipeline/0_Horizon_Service_User.json
Due: none

Fix/delete service user duplicate resources (#1015)
  workspace/notebook/legacy_service_user_dim.json
  workspace/notebook/service_user_dim.json
  workspace/pipeline/0_Horizon_Service_User.json
  workspace/pipeline/pln_horizon_service_user.json
Due: none

Fix/service user publish rename (#1014)
  workspace/notebook/legacy_service_user_dim.json
  workspace/pipeline/pln_horizon_service_user.json
Due: none

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md
