Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

pipelines/function_app_deploy.yaml:

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: Dev
    values:
    - Dev

variables:
- group: Terraform ${{ parameters.environment }}
- name: environment
  value: ${{ lower(parameters.environment) }}
- name: armServiceConnectionName
  value: ${{ replace(format('ODW {0}', parameters.environment), 'Test', 'PreProd') }}

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'functions/*'

pr: none

pool:
  vmImage: ubuntu-22.04

stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      - checkout: self
        displayName: 'Checkout Repo'

      # Login to Azure using Terraform service principal
      - template: steps/azure-login.yaml

      - task: UsePythonVersion@0
        inputs:
          versionSpec: '3.11'
        displayName: 'Using python 3.11'

      - script: |
          cd functions
          pip install -r requirements.txt # Adjust as per your requirements
        displayName: 'Install dependencies'

      # Zipping Files
      - task: ArchiveFiles@2
        inputs:
          rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
          includeRootFolder: false
          archiveType: 'zip'
          archiveFile: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
          replaceExistingArchive: true

      # - task: AzureCLI@2
      #   inputs:
      #     azureSubscription: 'ODW Dev'
      #     scriptType: 'bash'
      #     scriptLocation: 'inlineScript'
      #     inlineScript: |
      #       az functionapp deployment source config-zip --resource-group 'pins-rg-function-app-odw-dev-uks' --name 'pins-fnapp01-odw-dev-uks' --src '$(Build.ArtifactStagingDirectory)/functionapp.zip'

      #   displayName: 'Deploy to Azure Function App'

pipelines/terraform-ci.yaml:

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: Dev
    values:
    - Dev
    - Test
    - Prod

variables:
- group: Terraform ${{ parameters.environment }}
- name: environment
  value: ${{ lower(parameters.environment) }}

pr: none

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - infrastructure
    exclude:
    - '**/README.md'

pool:
  vmImage: ubuntu-22.04

stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      # Checkout repo
      - checkout: self
        displayName: 'Checkout Repo'

      # Install required packages
      - template: steps/install-tflint.yaml
      - template: steps/install-checkov.yaml

      # Login to Azure using Terraform service principal
      - template: steps/azure-login.yaml

      # Run terraform init
      - template: steps/terraform-init.yaml
        parameters:
          environment: ${{ variables.environment }}
          workingDirectory: infrastructure

      # Run Terraform format
      - template: steps/terraform-format.yaml
        parameters:
          workingDirectory: infrastructure

      # Run Terraform validate
      - template: steps/terraform-validate.yaml
        parameters:
          workingDirectory: infrastructure

      # Run TFLint
      - template: steps/tflint-validate.yaml
        parameters:
          configFilePath: $(Build.Repository.LocalPath)/.tflint.hcl
          workingDirectory: infrastructure

      # Run Checkov
      - template: steps/checkov-validate.yaml
        parameters:
          framework: terraform
          workingDirectory: infrastructure

Updating notebook: nsip_applicant_service_user (#1003)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

3 docs changes
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/DocumentMetaData.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/aiedocumentdata.json
Due: pipelines/terraform-ci.yaml

added unit test for servicebus function calls and small change to helper file
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
  functions/requirements.txt
  functions/tests/test_http_calls.py
Due: pipelines/function_app_deploy.yaml

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Due: none

Updating notebook: py_raw_to_std
  workspace/notebook/py_raw_to_std.json
Due: none

Updating pipeline: 0_Raw_Horizon_NSIP_Relevant_Reps (#1004)
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
Due: none

Updating pipeline: pln_raw_to_standardised_e2e
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: none

added local setup to function app documentation
  docs/architecture/servicebus-functionapps.md
  images/azure-extension.png
  images/functions-core-tools-debugging.png
  images/functions-core-tools-list-functions.png
  images/functions-terminal-emulator.png
Due: none

feat: add new fields to relevant reps
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPReleventRepresentation.json
Due: pipelines/terraform-ci.yaml

Updating notebook: casework_nsip_relevant_representation_dim
  workspace/notebook/casework_nsip_relevant_representation_dim.json
Due: none

added file to test folder structure
  docs/architecture/servicebus-functionapps.md
Due: none

Fix/new fields rel reps (#1005)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPReleventRepresentation.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/py_raw_to_std.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml

First commit
  infrastructure/README.md
  infrastructure/environments/dev.tfvars
  infrastructure/modules/function-app/variables.tf
  infrastructure/modules/synapse-ingestion/.terraform.lock.hcl
  infrastructure/modules/synapse-ingestion/README.md
  infrastructure/modules/synapse-ingestion/variables.tf
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/modules/synapse-monitoring/variables.tf
  infrastructure/variables.tf
  infrastructure/workload-function-app.tf
  infrastructure/workload-monitoring.tf
Due: pipelines/terraform-ci.yaml

Updating notebook: nsip_applicant_service_user
  workspace/notebook/nsip_applicant_service_user.json
Due: none

adding migrated and ODT sourcesystem to Relevant Red
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
Due: pipelines/terraform-ci.yaml

Mvg/feat/relev rep harmonised (#1007)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_relevant_representation_dim.json
  workspace/notebook/casework_nsip_relevant_representation_dim.json
  workspace/notebook/nsip_applicant_service_user.json
Due: pipelines/terraform-ci.yaml

Updating notebook: nsip_s51_advice
  workspace/notebook/nsip_s51_advice.json
Due: none

fix: harmonised schema for s51 advice
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_advice_dim.json
Due: pipelines/terraform-ci.yaml

Fix/s51 advice advice details (#1008)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_advice_dim.json
  workspace/notebook/nsip_s51_advice.json
Due: pipelines/terraform-ci.yaml

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Updated function app id
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

modified pipeline code
  pipelines/function_app_deploy.yaml
Due: none

Updated function id
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

adding azure login to deployment job
  pipelines/function_app_deploy.yaml
Due: none

fixing tab error
  pipelines/function_app_deploy.yaml
Due: none

Updated function app
  infrastructure/README.md
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

added service connection to deployment task
  pipelines/function_app_deploy.yaml
Due: none

corrected package file path in deployment task
  pipelines/function_app_deploy.yaml
Due: none

added debugging step to check file path
  pipelines/function_app_deploy.yaml
Due: none
