Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md

fix: nsip data schema
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPData.json
Due: pipelines/terraform-ci.yaml

Fix/odw 998 fix nsip data (#965)
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

Updating notebook: py_odw_harmonised_table_creation
  workspace/notebook/py_odw_harmonised_table_creation.json
Due: none

Updating notebook: casework_nsip_data_dim_legacy
  workspace/notebook/casework_nsip_data_dim_legacy.json
Due: none

Updating notebook: examination_timetable
  workspace/notebook/examination_timetable.json
Due: none

fix: casework_nsip_data_dim schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_data_dim.json
Due: pipelines/terraform-ci.yaml

Deleting notebook: py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2
  workspace/notebook/py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2.json
Due: none

Adding notebook: py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2
  workspace/notebook/py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2.json
Due: none

Mvg/fix/nsip exam timetable (#966)
  workspace/notebook/examination_timetable.json
Due: none

Deleting sqlscript: SQL script 2
  workspace/sqlscript/SQL script 2.json
Due: none

Deleting sqlscript: SQL script 1
  workspace/sqlscript/SQL script 1.json
Due: none

fixed function syntax error (#969)
  functions/function_app.py
Due: pipelines/function_app_deploy.yaml

Feat/odw validation (#968)
  scripts/odw-validation/model_nsip_exam_timetable.py
  scripts/odw-validation/nsip-exam-timetable.py
  scripts/odw-validation/tablefromjson.ipynb
Due: none

Updating notebook: casework_nsip_data_dim_legacy Updating notebook: nsip_data Adding sqlscript: SQL script 1 Adding sqlscript: SQL script 2
  workspace/notebook/casework_nsip_data_dim_legacy.json
  workspace/notebook/nsip_data.json
  workspace/sqlscript/SQL script 1.json
  workspace/sqlscript/SQL script 2.json
Due: none

Mc feature nsip applicant service user (#967)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Updating pipeline: 0_Horizon_SQL_Tables_Raw_part2
  workspace/pipeline/0_Horizon_SQL_Tables_Raw_part2.json
Due: none

Updating linkedService: ls_kv
  workspace/linkedService/ls_kv.json
Due: none

Feat/nsip applications service user (#974)
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Data.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Relevant_Reps.json
  workspace/pipeline/pln_horizon_nsip_project.json
  workspace/pipeline/pln_horizon_service_user.json
  workspace/pipeline/pln_nisp_relevant_reps_clean_slate.json
  workspace/pipeline/pln_nsip_project_main.json
  workspace/pipeline/pln_nsip_relevant_reps_main.json
  workspace/pipeline/pln_post_deployment.json
  workspace/pipeline/pln_service_bus_nsip_project.json
  workspace/pipeline/pln_service_bus_service_user.json
  workspace/pipeline/pln_service_user_main.json
  workspace/trigger/tr_daily.json
Due: none

Remove POC ingestion function (#970)
  infrastructure/workload-odt-ingestion.tf
Due: pipelines/terraform-ci.yaml

created testing notebook for json schema validation (#971)
  scripts/odw-validation/json-schema.ipynb
Due: none

Mc service user bug fix - ContactID changed to AgentContactID for Agent Results (#972)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Updating notebook: nsip_s51_advice
  workspace/notebook/nsip_s51_advice.json
Due: none

Mvg/fix/advise s51 standardised (#973)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_advice_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPAdvice.json
  infrastructure/configuration/data-lake/standardised_table_definitions/NSIPAdvice.json
  workspace/notebook/casework_nsip_advice_dim.json
  workspace/notebook/nsip_s51_advice.json
Due: pipelines/terraform-ci.yaml

Mvg/feat/s51 curated (#976)
  workspace/notebook/casework_nsip_advice_dim_legacy.json
  workspace/notebook/nsip_applicant_service_user.json
  workspace/notebook/nsip_s51_advice.json
Due: none

Fix/sercice user standardised table name (#975)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  workspace/notebook/service_user_dim.json
  workspace/pipeline/pln_service_bus_service_user.json
  workspace/pipeline/pln_service_user_clean_slate.json
Due: pipelines/terraform-ci.yaml

Updating notebook: py_raw_to_std
  workspace/notebook/py_raw_to_std.json
Due: none

Updating notebook: nsip_applicant_service_user (#981)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Feat/s51 advice standardised (#978)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/NSIP/nsip_s51_advice.json
  workspace/pipeline/0_Horizon_SQL_Tables_Raw_part2.json
  workspace/pipeline/0_Raw_Horizon_NSIP_Advice.json
  workspace/pipeline/pln_horizon_nsip_s51_advice.json
  workspace/pipeline/pln_horizon_service_user.json
  workspace/pipeline/pln_nisp_relevant_reps_clean_slate.json
  workspace/pipeline/pln_nsip_relevant_reps_main.json
  workspace/pipeline/pln_nsip_s51_advice_clean_slate.json
  workspace/pipeline/pln_nsip_s51_advice_main.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
  workspace/pipeline/pln_service_bus_nsip_project.json
  workspace/pipeline/pln_service_bus_nsip_s51_advice.json
  workspace/pipeline/pln_service_bus_service_user.json
  workspace/pipeline/pln_service_user_main.json
Due: pipelines/terraform-ci.yaml

new orchestration file items +2 scheams (#982)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/DocumentMetaData.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/HorizonFolder.json
Due: pipelines/terraform-ci.yaml

Mc feature document views (#979)
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/Horizon_DocumentMetadata.json
  workspace/dataset/Horizon_Folder_Entity.json
  workspace/notebook/nsip_applicant_service_user.json
  workspace/pipeline/0_Horizon_Document_Folder.json
Due: none

Mvg/fis/sourcesystem (#984)
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Updating notebook: nsip_applicant_service_user
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Feat/nsip exam timetable json to csv (#983)
  infrastructure/configuration/data-lake/orchestration/orchestration.json
  infrastructure/configuration/data-lake/standardised_table_definitions/NSIP/nsip_exam_timetable.json
  workspace/notebook/casework_nsip_examination_timetable_dim.json
  workspace/notebook/py_service_bus_json_to_csv.json
  workspace/pipeline/pln_horizon_nsip_exam_timetable.json
  workspace/pipeline/pln_nsip_exam_timetable.json
  workspace/pipeline/pln_nsip_exam_timetable_main.json
  workspace/pipeline/pln_service_bus_nsip_exam_timetable.json
Due: pipelines/terraform-ci.yaml

switched validation to use jsonschema, amended functions accordingly (#985)
  functions/config.yaml
  functions/function_app.py
  functions/requirements.txt
  functions/servicebus_funcs.py
  functions/tests/test.ipynb
  functions/tests/validate_messages.py
  functions/validate.py
  functions/validate_messages.py
  functions/var_funcs.py
Due: pipelines/function_app_deploy.yaml

Mvg/fix/exam timetable (#987)
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_examination_timetable_dim.json
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/ExaminationTimetable.json
  workspace/notebook/casework_nsip_examination_timetable_dim.json
  workspace/notebook/casework_nsip_examination_timetable_dim_legacy.json
  workspace/notebook/examination_timetable.json
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
  workspace/pipeline/pln_raw_to_standardised_e2e.json
Due: pipelines/terraform-ci.yaml
