Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

pipelines/function_app_deploy.yaml:

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - 'functions/*'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.11'

- script: |
    # Install dependencies, build, or any other required commands
    cd functions
    pip install -r requirements.txt  # Adjust as per your requirements

  displayName: 'Install dependencies'

- task: ArchiveFiles@2
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
    includeRootFolder: false
    archiveType: 'zip'
    archiveFile: '$(Build.ArtifactStagingDirectory)/functionapp.zip'
    replaceExistingArchive: true

- task: AzureCLI@2
  inputs:
    azureSubscription: '<Your Azure Subscription>'
    scriptType: 'bash'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az functionapp deployment source config-zip --resource-group <ResourceGroupName> --name <FunctionAppName> --src '$(Build.ArtifactStagingDirectory)/functionapp.zip'

  displayName: 'Deploy to Azure Function App'

pipelines/terraform-ci.yaml:

parameters:
  - name: environment
    displayName: Environment
    type: string
    default: Dev
    values:
    - Dev
    - Test
    - Prod

variables:
- group: Terraform ${{ parameters.environment }}
- name: environment
  value: ${{ lower(parameters.environment) }}

pr: none

trigger:
  branches:
    include:
    - '*'
  paths:
    include:
    - infrastructure
    exclude:
    - '**/README.md'

pool:
  vmImage: ubuntu-22.04

stages:
  - stage: Validate
    jobs:
    - job: Validate
      steps:
      # Checkout repo
      - checkout: self
        displayName: 'Checkout Repo'

      # Install required packages
      - template: steps/install-tflint.yaml
      - template: steps/install-checkov.yaml

      # Login to Azure using Terraform service principal
      - template: steps/azure-login.yaml

      # Run terraform init
      - template: steps/terraform-init.yaml
        parameters:
          environment: ${{ variables.environment }}
          workingDirectory: infrastructure

      # Run Terraform format
      - template: steps/terraform-format.yaml
        parameters:
          workingDirectory: infrastructure

      # Run Terraform validate
      - template: steps/terraform-validate.yaml
        parameters:
          workingDirectory: infrastructure

      # Run TFLint
      - template: steps/tflint-validate.yaml
        parameters:
          configFilePath: $(Build.Repository.LocalPath)/.tflint.hcl
          workingDirectory: infrastructure

      # Run Checkov
      - template: steps/checkov-validate.yaml
        parameters:
          framework: terraform
          workingDirectory: infrastructure

Updating notebook: nsip_applicant_service_user
  workspace/notebook/nsip_applicant_service_user.json
Due: none

Updating pipeline: pln_nsip_project_main
  workspace/pipeline/pln_nsip_project_main.json
Due: none

Feat/odw 996 switch function app code to use pydantic models from data model repo (#963)
  functions/config.yaml
  functions/function_app.py
  functions/model_case_schedule.py
  functions/model_employee.py
  functions/model_interested_party.py
  functions/model_nsip_document.py
  functions/model_nsip_exam_timetable.py
  functions/model_nsip_exam_timetable_submission.py
  functions/model_nsip_project.py
  functions/model_nsip_project_update.py
  functions/model_nsip_representation.py
  functions/model_nsip_subscription.py
  functions/model_s51_advice.py
  functions/model_service_user.py
  functions/requirements.txt
Due: pipelines/function_app_deploy.yaml

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Fix/odw 998 fix nsip data (#964)
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPData.json
  workspace/notebook/nsip_data.json
  workspace/pipeline/pln_nsip_project_main.json
  workspace/pipeline/pln_post_deployment.json
Due: pipelines/terraform-ci.yaml

Updating pipeline: 0_Horizon_Data_Transfer_Raw
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

Fix/odw 998 fix nsip data (#965)
  workspace/pipeline/0_Horizon_Data_Transfer_Raw.json
Due: none

fix: nsip data schema
  infrastructure/configuration/data-lake/standardised_table_definitions/Horizon/NSIPData.json
Due: pipelines/terraform-ci.yaml

Updating notebook: examination_timetable
  workspace/notebook/examination_timetable.json
Due: none

Adding notebook: py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2
  workspace/notebook/py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2.json
Due: none

Deleting notebook: py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2
  workspace/notebook/py_odw_harmonised_table_creation_b00b7468-fd51-4fc2-addb-7b1c03a335a2.json
Due: none

Updating notebook: py_odw_harmonised_table_creation
  workspace/notebook/py_odw_harmonised_table_creation.json
Due: none

Mvg/fix/nsip exam timetable (#966)
  workspace/notebook/examination_timetable.json
Due: none

Updating notebook: casework_nsip_data_dim_legacy
  workspace/notebook/casework_nsip_data_dim_legacy.json
Due: none

Updating notebook: casework_nsip_data_dim_legacy Updating notebook: nsip_data Adding sqlscript: SQL script 1 Adding sqlscript: SQL script 2
  workspace/notebook/casework_nsip_data_dim_legacy.json
  workspace/notebook/nsip_data.json
  workspace/sqlscript/SQL script 1.json
  workspace/sqlscript/SQL script 2.json
Due: none

fix: casework_nsip_data_dim schema
  infrastructure/configuration/data-lake/harmonised_table_definitions/casework_nsip_data_dim.json
Due: pipelines/terraform-ci.yaml
