Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md

Updated app insights
  infrastructure/modules/function-app/locals.tf
  infrastructure/modules/function-app/variables.tf
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/outputs.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated function app
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/variables.tf
  infrastructure/workload-monitoring.tf
Due: pipelines/terraform-ci.yaml

Updated function app insights
  infrastructure/modules/synapse-monitoring/README.md
  infrastructure/modules/synapse-monitoring/application-insights.tf
Due: pipelines/terraform-ci.yaml

Adding notebook: my_bad_notebook
  workspace/notebook/my_bad_notebook.json
Due: none

Deleting notebook: my_bad_notebook
  workspace/notebook/my_bad_notebook.json
Due: none

Deleting notebook: my_bad_notebook (#1053)
  workspace/notebook/my_bad_notebook.json
Due: none

Updating notebook: relevant_representation
  workspace/notebook/relevant_representation.json
Due: none

Updating notebook: casework_case_involvement_dim
  workspace/notebook/casework_case_involvement_dim.json
Due: none

Mvg/fix/clean harmonised (#1054)
  workspace/notebook/casework_case_involvement_dim.json
  workspace/notebook/py_create_tables.json
  workspace/notebook/relevant_representation.json
Due: none

added WEBSITE_RUN_FROM_PACKAGE flag
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

Renaming pipeline: 0_Horizon_Data_Transfer_Raw as 0_Horizon_Appeals_Data_Transfer_Raw
  workspace/pipeline/0_Horizon_Appeals_Data_Transfer_Raw.json
Due: none

Updating pipeline: 0_Horizon_Appeals_Data_Transfer_Raw Updating pipeline: 0_Raw_Horizon_Main
  workspace/pipeline/0_Horizon_Appeals_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_Main.json
Due: none

Mc feature pipeline rename (#1057)
  workspace/pipeline/0_Horizon_Appeals_Data_Transfer_Raw.json
  workspace/pipeline/0_Raw_Horizon_Main.json
Due: none

added WEBSITE_RUN_FROM_PACKAGE flag (#1056)
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

disable function app
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

Updated function app code
  infrastructure/modules/synapse-monitoring/alert-function-app.tf
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

Updated enable function app
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

adding pre-commit-config file
  pipelines/pre-commit-config.yaml
Due: none

Fix/disable function app (#1058)
  infrastructure/environments/dev.tfvars
  infrastructure/modules/synapse-monitoring/alert-function-app.tf
  infrastructure/modules/synapse-monitoring/application-insights.tf
  infrastructure/modules/synapse-monitoring/monitor-function-app.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

adding 2nd function app as a parameter
  pipelines/function_app_deploy.yaml
Due: none

amended parameter and variable
  pipelines/function_app_deploy.yaml
Due: none

fixing functionApp variable
  pipelines/function_app_deploy.yaml
Due: none

added flags to function app config settings
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

new folder and python file for check
  functions/pre-commit/check_branch_name.py
  functions/pre-commit/pre-commit-config.yaml
Due: pipelines/function_app_deploy.yaml

test competed, stages added
  functions/pre-commit/test.py
Due: pipelines/function_app_deploy.yaml

resolving conflict
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

adding 2 more flags to function app config
  infrastructure/modules/function-app/locals.tf
Due: pipelines/terraform-ci.yaml

Feat/add website run from package flag (#1059)
  infrastructure/modules/function-app/locals.tf
  pipelines/function_app_deploy.yaml
Due: pipelines/terraform-ci.yaml

Updating notebook: casework_case_fact_legacy
  workspace/notebook/casework_case_fact_legacy.json
Due: none

config changes for function app deploy pipeline
  infrastructure/modules/function-app/locals.tf
  pipelines/function_app_deploy.yaml
Due: pipelines/terraform-ci.yaml
