Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md

Updating notebook: casework_case_fact_legacy
  workspace/notebook/casework_case_fact_legacy.json
Due: none

amended az command
  pipelines/function_app_deploy.yaml
Due: none

Updating notebook: relevant_representation
  workspace/notebook/relevant_representation.json
Due: none

Mvg/fix/rr status (#1060)
  workspace/notebook/relevant_representation.json
Due: none

function app disable
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

enable function app
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

Updating linkedService: ls_preprod_sql_hzn
  workspace/linkedService/ls_preprod_sql_hzn.json
Due: none

amended flags and removed remote build
  infrastructure/modules/function-app/locals.tf
  pipelines/function_app_deploy.yaml
Due: pipelines/terraform-ci.yaml

Mvg/fix/case fact (#1062)
  workspace/notebook/casework_case_fact_legacy.json
Due: none

added all 4 hooks
  functions/pre-commit/pre-commit-config.yaml
  functions/pre-commit/test.py
Due: pipelines/function_app_deploy.yaml

disbaling function app
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

re-creating function apps
  infrastructure/environments/dev.tfvars
Due: pipelines/terraform-ci.yaml

Updating notebook: document_metadata
  workspace/notebook/document_metadata.json
Due: none

feat: rename hzn linked service for all enviroments
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_sql_hzn.json
Due: none

added app settings
  pipelines/function_app_deploy.yaml
Due: none

removing whitespace
  pipelines/function_app_deploy.yaml
Due: none

fixing settings syntax
  pipelines/function_app_deploy.yaml
Due: none

amended app settings
  pipelines/function_app_deploy.yaml
Due: none

Updating pipeline: pln_nsip_relevant_reps_main
  workspace/pipeline/pln_nsip_relevant_reps_main.json
Due: none

Updating pipeline: pln_post_deployment
  workspace/pipeline/pln_post_deployment.json
Due: none

Feat/odw 1066 (#1063)
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_sql_hzn.json
  workspace/notebook/document_metadata.json
Due: none

switched SCM_DO_BUILD_DURING_DEPLOYMENT to true
  pipelines/function_app_deploy.yaml
Due: none

switched ENABLE_ORYX_BUILD to false
  pipelines/function_app_deploy.yaml
Due: none

added build-remote true flag
  pipelines/function_app_deploy.yaml
Due: none

Feat/document case type dim (#939)
  workspace/notebook/document_case_type_dim.json
Due: none
