Repository Planning-Inspectorate/ODW-Service: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/function_app_deploy.yaml, pipelines/terraform-ci.yaml

Path conditions:
  pipelines/function_app_deploy.yaml: any of: functions, but not: functions/tests
  pipelines/terraform-ci.yaml: any of: infrastructure, but not: **/README.md

Updating pipeline: 0_Horizon_Service_User_WithLogging
  workspace/pipeline/0_Horizon_Service_User_WithLogging.json
Due: none

Updated
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

updated
  infrastructure/environments/dev.tfvars
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

Odw 974 document function app code (#1006)
  docs/architecture/servicebus-functionapps.md
  functions/helper/getfunctionurlsandsetkeyvaultsecrets.py
  functions/requirements.txt
  functions/tests/test_http_calls.py
  images/azure-extension.png
  images/function-app-deploy-run-manually.png
  images/function-app-deploy-run-parameters.png
  images/function-app-managed-identity-dev.png
  images/function-app-servicebus-role.png
  images/function-app-storage-role.png
  images/functions-core-tools-debugging.png
  images/functions-core-tools-list-functions.png
  images/functions-terminal-emulator.png
Due: pipelines/function_app_deploy.yaml

Updated output
  infrastructure/modules/function-app/output.tf
Due: pipelines/terraform-ci.yaml

Updated
  infrastructure/modules/synapse-data-lake/data-lake-rbac.tf
  infrastructure/workload-data-lake.tf
Due: pipelines/terraform-ci.yaml

adding recursion to file path rules
  .github/CODEOWNERS
Due: none

Updated syntax
  infrastructure/modules/synapse-data-lake/README.md
  infrastructure/modules/synapse-data-lake/data-lake-rbac.tf
Due: pipelines/terraform-ci.yaml

Updated
  infrastructure/modules/function-app/output.tf
Due: pipelines/terraform-ci.yaml

Updated syntax
  infrastructure/modules/synapse-data-lake/data-lake-rbac.tf
Due: pipelines/terraform-ci.yaml

Output update
  infrastructure/modules/function-app/output.tf
Due: pipelines/terraform-ci.yaml

adding recursion to file path rules (#1024)
  .github/CODEOWNERS
Due: none

feat: repoint linked service of nsip advice
  workspace/dataset/NSIP_Advice.json
Due: none

feat: repoint linked service of nsip advice (#1025)
  workspace/dataset/NSIP_Advice.json
Due: none

fix: repoint all objects in linked service and rename it
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

fix: repoint all objects in linked service and rename it (#1026)
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

fix: rename the ls filename
  workspace/linkedService/ls_preprod_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

Updated function app
  infrastructure/workload-data-lake.tf
  infrastructure/workload-function-app.tf
Due: pipelines/terraform-ci.yaml

fix: rename ls
  workspace/linkedService/sql_hzn_tables.json
Due: none

Fix/rename ls (#1027)
  workspace/linkedService/ls_preprod_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

Updating linkedService: ls_preprod_sql_hzn
  workspace/linkedService/ls_preprod_sql_hzn.json
Due: none

Updated outputs
  infrastructure/modules/function-app/output.tf
Due: pipelines/terraform-ci.yaml

Revert "fix: repoint all objects in linked service and rename it (#1026)"
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_preprod_sql_hzn.json
Due: none

Revert "fix: repoint all objects in linked service and rename it (#1026)" (#1028)
  workspace/dataset/AzureSqlTable2.json
  workspace/dataset/BIS_AddAdditionalData.json
  workspace/dataset/BIS_HZN_AppealsAddtionalData.json
  workspace/dataset/CaseReference.json
  workspace/dataset/Contacts_Organisation.json
  workspace/dataset/Doc_Folder.json
  workspace/dataset/Document_Metadata.json
  workspace/dataset/Folder_Entity.json
  workspace/dataset/HZNSpecialCircumstance.json
  workspace/dataset/HZNSpecialism.json
  workspace/dataset/HZN_AdditionalFields.json
  workspace/dataset/HZN_AppSubTypeCaseName.json
  workspace/dataset/HZN_BIS_DecisionIssues.json
  workspace/dataset/HZN_CaseDates.json
  workspace/dataset/HZN_CaseInfo.json
  workspace/dataset/HZN_CaseOfficerAddDetail.json
  workspace/dataset/HZN_CommonLand.json
  workspace/dataset/HZN_EnforcementGroundsForAppeal.json
  workspace/dataset/HZN_Event.json
  workspace/dataset/HZN_InspectorCases.json
  workspace/dataset/HZN_LPARResponsability.json
  workspace/dataset/HZN_NSIPRedactions.json
  workspace/dataset/HZN_NSIP_Query.json
  workspace/dataset/HZN_ProjInfoInternal.json
  workspace/dataset/HZN_SpecCaseDates.json
  workspace/dataset/HZN_SpecCaseString.json
  workspace/dataset/HZN_SpecCoastalAccess.json
  workspace/dataset/HZN_SpecEnvironment.json
  workspace/dataset/HZN_SpecHighCourt.json
  workspace/dataset/HZN_SpecMods.json
  workspace/dataset/HZN_SpecPurchaseNotice.json
  workspace/dataset/HZN_SpecRecharge.json
  workspace/dataset/HorizonContactInformation.json
  workspace/dataset/HorizonData_BIS_AllAppeals.json
  workspace/dataset/Horizon_TypeOfCaseSQL.json
  workspace/dataset/Hzn_AdvertDetails.json
  workspace/dataset/NSIP_Advice.json
  workspace/dataset/VW_Inspector_Cases.json
  workspace/linkedService/ls_preprod_sql_hzn.json
Due: none

Revert "Fix/rename ls (#1027)"
  workspace/linkedService/ls_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

Revert "Fix/rename ls (#1027)" (#1029)
  workspace/linkedService/ls_sql_hzn.json
  workspace/linkedService/sql_hzn_tables.json
Due: none

Revert "feat: repoint linked service of nsip advice (#1025)"
  workspace/dataset/NSIP_Advice.json
Due: none
